@recognizerBlue: rgb(50,205,220);
@recognizerRed: rgb(249,29,43);
@recognizerYellow: rgb(254,199,0);

#status-indicator-recognizer {
	&:before {
		content: "";
		display: inline-block;
		width: 6px;
		height: 6px;
		margin-right: 7px;
		border-radius: 50%;
	}
	&.is-error:before {
		background: @recognizerRed;
		box-shadow: 0 0 4px @recognizerRed;
	}
	&.is-inactive:before {
		border: 1px solid rgba(0,0,0,0.2);
	}
	&.is-active:before {
		background: @recognizerBlue;
		box-shadow: 0 0 4px @recognizerBlue;
	}
	&.is-connecting:before,
	&.is-out-of-sync:before,
	&.is-loading-agents:before {
		background: @recognizerYellow;
		box-shadow: 0 0 4px @recognizerYellow;
	}
}

#recognizer-panel {
	position: absolute;
	top: 0;
	right: 30px;
	width: 100px;
	height: 100%;
	box-shadow: -2px 0 5px rgba(0,0,0,0.1), -1px 0 0 rgba(0,0,0,0.06);
	border-right: 1px solid rgba(0,0,0,0.8);
	background: #fff;
	z-index: 20;
}

.rp_header {
	background: linear-gradient(to bottom, darken(@recognizerBlue, 5%), darken(@recognizerBlue, 15%));
	line-height: 15px;
	padding: 7px 10px;
	color: #fff;
	box-shadow: inset 0 1px rgba(255,255,255,0.1), inset 0 -1px 0 rgba(0,0,0,0.1);
}
.rp_function {
	font-size: 13px;
	font-weight: 500;
	margin-right: 5px;
}
.rp_file {
	font-size: 11px;
	font-weight: 500;
	color: rgba(255,255,255,0.9);
}

.rp_section {
	position: relative;
}
.rp_section_header {
	display: block;
	background: linear-gradient(to bottom, rgba(0,0,0,0.02), rgba(0,0,0,0.05));
	box-shadow: inset 0 1px rgba(255,255,255,1), inset 0 -1px 0 rgba(0,0,0,0.04);
	padding: 5px 10px;
	color: inherit;

	.rp_section_title {
		font-size: 12px;
		font-weight: 500;
	}
	.rp_section_showhide {
		position: absolute;
		right: 7px;
		margin-top: 2px;
		display: inline-block;
		padding: 0 5px;
		color: #999;
	}
	&.is-active .rp_section_showhide {
		color: @recognizerBlue;
	}
	&:hover {
		background: linear-gradient(to bottom, rgba(0,0,0,0.04), rgba(0,0,0,0.07));
		text-decoration: none;

		.rp_section_showhide {
			color: #666;
		}
	}
}

.rp_log {
	width: 100%;
	font-size: 12px;
	position: relative;

	td {
		padding: 3px;

		&:first-child {
			padding-left: 10px;
		}
		&:last-child {
			padding-right: 10px;
			text-align: right;
		}
	}
}
.rp_log_head {
	height: 22px;

	td {
		color: #999;
		border-bottom: 1px solid rgba(0,0,0,0.04);
	}
}
.rp_log_time {
	td:first-child {
		font-size: 12px;
		font-weight: 500;
		text-align: left;
		padding-top: 7px;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 4px;
			height: 1px;
			border-bottom: 1px solid rgba(0,0,0,0.2);
		}
	}
}
.rp_log_calls {
	td:first-child {
		color: #999;
	}
}

.recognizer-widget {
	font-family: "Source Sans Pro";
	margin: 10px 20px;
	border-radius: 3px;
	background: #fff;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,0.05), inset -1px -1px 0 rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
	// overflow: scroll;

	&.has-scroll-up .rw_table-scroll {
		box-shadow: inset 0 2px 6px rgba(0,0,0,0.2);
	}
	// &.has-scroll-up:before {
	// 	content: "";
	// 	display: block;
	// 	position: absolute;
	// 	top: -3px;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 3px;
	// 	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	// }

	&.has-scroll-up:before {
		content: "";
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 0;
		box-shadow: 0 -2px 6px rgba(0,0,0,0.2);
	}
}
.rw_scroll-container {
	position: absolute;
	height: 100%;

	&.has-scroll-up:before {
		content: "";
		display: block;
		position: absolute;
		top: -5px;
		left: 0;
		width: 100%;
		height: 5px;
		box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	}
	&.has-scroll-down:after {
		content: "";
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 5px;
		box-shadow: 0 -2px 6px rgba(0,0,0,0.2);
	}
}
.rw_scroll-content {
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.rw_table {
	position: relative;
	border-right: 1px solid rgba(0,0,0,0.06);

	td {
		font-size: 12px;
		padding: 3px 15px;
		color: #111;
		border: none;
	}
	tr:first-child {
		td, th {
			padding-top: 8px;
		}
	}
	tr:last-child {
		td, th {
			padding-bottom: 8px;
		}
	}
	th {
		background: rgba(0,0,0,0.02);
		padding: 3px 0;
	}
}
.rw_group {
	border-bottom: 1px solid rgba(0,0,0,0.04);

	tr {
		display: none;

		&:nth-child(-n+3) {
			display: table-row;
		}
	}
}
th.rw_time-base {
	font-size: 0 !important;
	font-weight: 600;
	text-align: left;
	padding-left: 12px;
	padding-right: 7px;

	.rw_table tr:first-child & {
		font-size: 12px !important;
	}
}
th.rw_time-mili {
	font-size: 12px !important;
	font-weight: 600;
	color: #999;
}
th.rw_warnings {
	border-right: 1px solid rgba(0,0,0,0.06);
	padding: 3px 10px;

	.fa-exclamation-triangle {
		font-size: 10px;
		color: @recognizerYellow;
	}
}
